@model Dictionary<string, int>


<!-- link the style sheet -->
<link rel="stylesheet" href="~/css/Hardware/hardware.css">

<!-- main content -->
<div class="container">
    <div class="jumbotron">
        <div class="upperContainer">
            
        </div>
        
        <hr>
        

        <div class="row">
            @foreach (KeyValuePair<string, int> entry in @Model)
            {
                <div class="hardware col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="thumbnail">
                        <img src = "https://images.unsplash.com/photo-1495046370729-fa5e793723e7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
                        <h5>@entry.Key</h5>
                        <p>Quantity : @entry.Value</p>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a class="btn btn-primary" asp-controller="@entry.Key.ToString().Substring(0, @entry.Key.ToString().Length-1)" asp-action="Details" >View @entry.Key</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
